{# Extends the base template #}
{% extends "base.html" %}
{% load static %}

{# Overrides the title block from base.html #}
{% block title %}My Homepage{% endblock %}

{# Overrides the content block from base.html #}
{% block content %}

    {# Full-screen centered content using Bootstrap classes #}
    <div class="min-vh-100 d-flex flex-column justify-content-center align-items-center">
        <img class="img-fluid" src="{% static 'page/images/ayaz-lalani-no-EShQ7s1A-unsplash.jpg' %}" alt="front page image">
    </div>

{% endblock %}

